<%- include('header', { title: 'Admin'}) -%>

<h1>Undir&shy;skriftar&shy;listi — umsjón</h1>
<p>Innskráður sem <strong><%= locals.user.username %></strong></p>
<a href="/logout">Útskrá</a>

<%- include('list', { admin: true }) -%>

<%- include('footer') -%>