* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-paperwhite: #ffe;
  --color-error: #a77;
  --color-accent: #aa6;
}

html {
  background-color: var(--color-paperwhite);

  box-sizing: border-box;

  font-family: 'Georgia', serif;
  font-size: 20px;
}

input,
textarea,
button {
  font-family: 'Georgia', sans-serif;
  font-size: 20px;
}

h1, h2 {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  font-size: 1rem;
}

body {
  display: flex;
  flex-direction: column;

  margin-top: 4rem;
}

main {
  margin: auto;
  width: 100%;
  max-width: 1000px;
}

h1,
h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px dotted var(--color-accent)
}

.field {
  display: flex;
  align-items: center;

  width: 100%;
  margin-bottom: 1rem;
}

.field label {
  font-size: 1rem;
  min-width: 140px;
}

.field input,
.field textarea {
  flex: 1;
  width: 100%;

  padding: 8px;

  border: 1px solid var(--color-accent);
  border-radius: 3px;
}

.field--textarea {
  align-items: flex-start;
}

.field textarea {
  flex: 1;
  min-height: 3rem;
}

.field--invalid input,
.field--invalid textarea {
  border-color: var(--color-accent);
  background-color: #fbb;
}

.field--checkbox {
  display: flex;
  justify-content: center;
  padding: 4px;
}

.field--checkbox label {
  display: flex;
  min-width: initial;
}

.field--checkbox input {
  scale: 2;
  margin-right: 1rem;
}

button {
  width: 100%;
  font-size: 2rem;
  max-width: 300px;
  border: 1px solid var(--color-accent);
  border-radius: 8px;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #fff;
  transition: background-color ease-in 300ms;
}

button:hover {
  background-color: var(--color-accent);
}

.errors {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.errors__title {
  margin-top: 1rem;
}

.registrations {
  margin-bottom: 2rem;
}

.registrations__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.registrations__empty {
  text-align: center;
}

.registrations__table {
  border-collapse: collapse;
  border-top: 1px solid var(--color-accent);
  border-left: 1px solid var(--color-accent);
}

.registrations__table th,
.registrations__table td {
  padding: 10px;
  border-bottom: 1px solid var(--color-accent);
  border-right: 1px solid var(--color-accent);
}

.registrations__table th {

}

.registrations__table .name {
  white-space: pre;
}

/*
header {
  margin: 2rem;
}

main {
  margin: 2rem;
}


.application {
  max-width: 60rem;
  margin-bottom: 3rem;
}

.application h2 {
  margin-bottom: 0;
}

.application .text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.application .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  order: 1;
  display: flex;
  flex-direction: column;
}

nav ul {
  display: flex;
  list-style: none;
  margin-bottom: 1rem;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li.current {
  font-weight: bold;
  text-decoration: underline;
}

nav ul li a {
  color: #000;
  text-decoration: none;
}

.users {
  margin-bottom: 1em;
  max-width: 100%;
  overflow: auto;
}

.users td,
.users th {
  padding: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.users tr:nth-child(2n) {
  background-color: #eee;
}

@media (min-width: 600px) {
  header {
    order: initial;
    flex-direction: row;
    justify-content: space-between;
  }

  nav ul {
    margin-bottom: 0;
  }


  .field {
    flex-direction: row;
  }

  .field label {
    flex: 0 0 200px;
  }

  .field--radio label {
    flex: initial;
  }

  .field input {
    flex: 1;
  }
}
